name: "encoder_transformer_baseline"

model:
  hidden_dim: 512
  num_layers: 6
  num_heads: 8
  ff_dim: 2048
  dropout: 0.1
  max_seq_length: 512
  num_labels: 2

training:
  output_dir: "/data/scratch/qc25022/pancreas/experiments/baselines/encoder_transformer"
  overwrite_output_dir: true
  epochs: 10
  batch_size: 32
  learning_rate: 1e-4
  weight_decay: 0.01
  dataloader_num_workers: 4

data:
  cutoff_months: 6
  data_dir: "/data/scratch/qc25022/pancreas/tokenised_data_pancreas_MEDS/cprd_upgi"
  vocab_filepath: "/data/scratch/qc25022/pancreas/tokenised_data_pancreas_MEDS/cprd_upgi/vocab.csv"
  labels_filepath: "/data/home/qc25022/cancer-extraction-pipeline/output/pancreas_MEDS/subject_information.csv"
  medical_lookup_filepath: "/data/home/qc25022/TextCancEHR2/src/resources/MedicalDictTranslation2.csv"
  lab_lookup_filepath: "/data/home/qc25022/TextCancEHR2/src/resources/LabLookUP.csv"
  region_lookup_filepath: "/data/home/qc25022/TextCancEHR2/src/resources/RegionLookUp.csv"
  time_lookup_filepath: "/data/home/qc25022/TextCancEHR2/src/resources/TimeLookUp.csv"
  max_length: 512
  data_type: "binned"

